project:
  type: website

website:
  title: "fungal popgen"
  navbar:
    left:
      - href: index.qmd
        text: Home
      - about.qmd

sidebar:
    style: "docked"
    search: true
    contents:
      - text: "Home"
        href: index.qmd
      - section: "Background knowledge"
        contents:
          - course_linux.qmd
          - course_nextflow.qmd
          - course_nf-core.qmd
          - text: "Environment managers: Pixi"
            href: course_pixi.qmd
          - course_containers.qmd
          - course_ai.qmd
          - course_quarto.qmd

format:
  html:
    theme:
      - cosmo
      - brand
    css: styles.css
    toc: true

execute:
  freeze: auto

